<th:block th:fragment="service">
    <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-6">
            <div class="services-caption text-center mb-30">
                <div class="service-icon">
                    <i class="flaticon-healthcare-and-medical"></i>
                </div>
                <div class="service-cap">
                    <h4><a href="#">CẮT TÓC</a></h4>
                    <p>Cắt tóc chuyên nghiệp chỉ với 120.000 VND</p>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6">
            <div class="services-caption active text-center mb-30">
                <div class="service-icon">
                    <i class="flaticon-fitness"></i>
                </div>
                <div class="service-cap">
                    <h4><a href="#">CẠO RÂU</a></h4>
                    <p>Chăm sóc và cạo râu với giá 50.000 VND</p>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6">
            <div class="services-caption text-center mb-30">
                <div class="service-icon">
                    <i class="flaticon-clock"></i>
                </div>
                <div class="service-cap">
                    <h4><a href="#">CẠO MẶT</a></h4>
                    <p>Cạo mặt sạch sẽ, láng mịn 20.000 VND</p>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6">
            <div class="services-caption active text-center mb-30">
                <div class="service-icon">
                    <i class="flaticon-fitness"></i>
                </div>
                <div class="service-cap">
                    <h4><a href="#">TATTOO MỘT BÊN ĐẦU</a></h4>
                    <p>Tattoo một bên cool ngầu 120.000 VND</p>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6">
            <div class="services-caption text-center mb-30">
                <div class="service-icon">
                    <i class="flaticon-clock"></i>
                </div>
                <div class="service-cap">
                    <h4><a href="#">TẠO KIỂU TÓC</a></h4>
                    <p>Tạo kiểu tóc ấn tượng với giá 30.000 VND</p>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6">
            <div class="services-caption text-center mb-30">
                <div class="service-icon">
                    <i class="flaticon-healthcare-and-medical"></i>
                </div>
                <div class="service-cap">
                    <h4><a href="#">NHUỘM MÀU THỜI TRANG</a></h4>
                    <p>Nhuộm màu thời trang từ 500.000 - 750.000 VND</p>
                </div>
            </div>
        </div>
    </div>
</th:block>
