<th:block th:fragment="sidebar">
    <div id="sidebar-menu">

        <ul class="metismenu" id="side-menu">

            <li class="menu-title">Navigation</li>

            <li>
                <a href="/dashboard" class="waves-effect">
                    <i class="remixicon-dashboard-line"></i>
                    <span class="badge badge-success badge-pill float-right"></span>
                    <span> Dashboards </span>
                </a>

            </li>

            <li>
                <a href="customers" class="waves-effect">
                    <i class="remixicon-file-user-fill"></i>
                    <span> Customer </span>
                </a>
            </li>

            <li>
                <a href="stylists" class="waves-effect">
                    <i class="remixicon-file-user-fill"></i>
                    <span> Stylists </span>
                </a>
            </li>

        </ul>

    </div>
</th:block>