.error {
    color: red;
    padding: 3px;
    display: none;
}

.input-custom:invalid[focused="true"]~span {
    display: block;
}

#sortPrice i {
    display: none;
}
.image-container img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 1em;
}