<!doctype html>
<html class="no-js" lang="zxx">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title> Barber HTML-5 Template </title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="manifest" href="site.webmanifest">
  <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

  <!-- CSS here -->
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
  <link rel="stylesheet" href="assets/css/slicknav.css">
  <link rel="stylesheet" href="assets/css/flaticon.css">
  <link rel="stylesheet" href="assets/css/gijgo.css">
  <link rel="stylesheet" href="assets/css/animate.min.css">
  <link rel="stylesheet" href="assets/css/animated-headline.css">
  <link rel="stylesheet" href="assets/css/magnific-popup.css">
  <link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
  <link rel="stylesheet" href="assets/css/themify-icons.css">
  <link rel="stylesheet" href="assets/css/slick.css">
  <link rel="stylesheet" href="assets/css/nice-select.css">
  <link rel="stylesheet" href="assets/css/style.css">
  <!-- Google font -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
</head>

<body>
<!-- ? Preloader Start -->
<div id="preloader-active">
  <div class="preloader d-flex align-items-center justify-content-center">
    <div class="preloader-inner position-relative">
      <div class="preloader-circle"></div>
      <div class="preloader-img pere-text">
        <img src="assets/img/logo/loder.png" alt="">
      </div>
    </div>
  </div>
</div>
<!-- Preloader Start -->
<header>
  <!--? Header Start -->
  <div class="header-area header-transparent">
    <div class="main-header header-sticky">
      <div class="container-fluid">
        <div class="row align-items-center">
          <!-- Logo -->
          <div class="col-xl-2 col-lg-2 col-md-1">
            <div class="logo">
              <a href="booking.html"><img src="assets/img/logo/logo.png" alt=""></a>
            </div>
          </div>
          <div class="col-xl-10 col-lg-10 col-md-10">
            <div class="menu-main d-flex align-items-center justify-content-end">
              <!-- Main-menu -->
              <div class="main-menu f-right d-none d-lg-block">
                <nav>
                  <ul id="navigation">
                    <li><a href="booking.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li class="active"><a href="services.html">Services</a></li>
                    <li><a href="portfolio.html">Portfolio</a></li>
                    <li><a href="blog.html">Blog</a>
                      <ul class="submenu">
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="blog_details.html">Blog Details</a></li>
                        <li><a href="elements.html">Element</a></li>
                      </ul>
                    </li>
                    <li><a href="contact.html">Contact</a></li>
                  </ul>
                </nav>
              </div>
              <div class="header-right-btn f-right d-none d-lg-block ml-30">
                <a href="from.html" class="btn header-btn">became a member</a>
              </div>
            </div>
          </div>
          <!-- Mobile Menu -->
          <div class="col-12">
            <div class="mobile_menu d-block d-lg-none"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Header End -->
</header>
<main>
  <!--? Hero Start -->
  <div class="slider-area2">
    <div class="slider-height2 d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="hero-cap hero-cap2 pt-30 text-center">
              <h2><span style="color: #D19F68;">BRBER</span> HAIR SALON</h2>
            </div>
            <div class="text-center mb-3 m-4">
              <h1 class="white-color">Giờ mở cửa: 10:00 - 22:00</h1>
            </div>
            <div class="text-center mb-3">
              <h1 class="white-color">SĐT: 0123.456.789</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Hero End -->
  <!--? Services Area Start -->
  <section class="service-area">
    <div id="booking" class="section">
      <div class="section-center">
        <div class="container">
          <div class="row">
            <div class="booking-form">
              <div class="form-header">
                <h1 style="color: #D19F68;">ĐẶT LỊCH</h1>
              </div>
              <form>
                <div class="row">
                  <div class="col-6">
                    <div class="form-group">
                      <span class="form-label">Họ và tên</span>
                      <input class="form-control" type="text" placeholder="Enter your name">
                    </div>
                  </div>

                  <div class="col-6">
                    <div class="form-group">
                      <span class="form-label">Số điện thoại</span>
                      <input class="form-control" type="tel" placeholder="Enter your phone number">
                    </div>
                  </div>
                </div>



                <div class="form-group">
                  <span class="text-lg-center form-label" style="font-size: 28px; color: #D19F68;">Thông tin dịch vụ</span>
                </div>

                <div class="form-group">
                  <span class="form-label">Chọn dịch vụ</span>
                  <input class="form-control" type="text" placeholder="Enter ZIP/Location">
                </div>


                <div class="form-group">
                  <span class="form-label">Tổng tiền:</span>
                  <span class="form-label">Thời lượng dự kiến:</span>
                </div>

                <div class="form-group">
                  <span class="form-label">Chọn kĩ thuật viên</span>
                  <input class="form-control" type="text" placeholder="Enter ZIP/Location">
                </div>


                <div class="form-group">
                  <span class="form-label">Chọn ngày đặt lịch</span>
                  <input class="form-control" type="date" required>
                </div>

                <div class="form-group">
                  <span class="form-label">Chọn khung giờ</span>
                </div>

                <div class="form-group time-booking">
                  <div class="row">
                    <div class="col-2">
                      <button type="button" value="">10:00</button>
                    </div>
                    <div class="col-2">
                      <button type="button" value="">11:00</button>
                    </div>
                    <div class="col-2">
                      <button type="button" value="">12:00</button>
                    </div>
                    <div class="col-2">
                      <button type="button" value="">13:00</button>
                    </div>
                    <div class="col-2">
                      <button type="button" value="">14:00</button>
                    </div>
                    <div class="col-2">
                      <button type="button" value="">15:00</button>
                    </div>
                  </div>
                </div>

                <div class="form-group time-booking">
                  <div class="row">
                    <div class="col-2">
                      <button type="button" value="">16:00</button>
                    </div>
                    <div class="col-2">
                      <button type="button" value="">17:00</button>
                    </div>
                    <div class="col-2">
                      <button type="button" value="">18:00</button>
                    </div>
                    <div class="col-2">
                      <button type="button" value="">19:00</button>
                    </div>
                    <div class="col-2">
                      <button type="button" value="">20:00</button>
                    </div>
                    <div class="col-2">
                      <button type="button" value="">21:00</button>
                    </div>
                  </div>
                </div>

                <div class="form-btn">
                  <button class="btn header-btn" style="width: 100%; margin: 25px 0;">Book Now</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Services Area End -->
</main>
<footer>
  <!--? Footer Start-->
  <div class="footer-area section-bg" data-background="assets/img/gallery/footer_bg.png">
    <div class="container">
      <div class="footer-top footer-padding">
        <div class="row d-flex justify-content-between">
          <div class="col-xl-3 col-lg-4 col-md-5 col-sm-8">
            <div class="single-footer-caption mb-50">
              <!-- logo -->
              <div class="footer-logo">
                <a href="booking.html"><img src="assets/img/logo/logo2_footer.png" alt=""></a>
              </div>
              <div class="footer-tittle">
                <div class="footer-pera">
                  <p class="info1">Receive updates and latest news direct from Simply enter.</p>
                </div>
              </div>
              <div class="footer-number">
                <h4><span>+564 </span>7885 3222</h4>
                <p>youremail@gmail.com</p>
              </div>
            </div>
          </div>
          <div class="col-xl-2 col-lg-2 col-md-3 col-sm-5">
            <div class="single-footer-caption mb-50">
              <div class="footer-tittle">
                <h4>Location </h4>
                <ul>
                  <li><a href="#">Advanced</a></li>
                  <li><a href="#"> Management</a></li>
                  <li><a href="#">Corporate</a></li>
                  <li><a href="#">Customer</a></li>
                  <li><a href="#">Information</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xl-2 col-lg-2 col-md-3 col-sm-5">
            <div class="single-footer-caption mb-50">
              <div class="footer-tittle">
                <h4>Explore</h4>
                <ul>
                  <li><a href="#">Cookies</a></li>
                  <li><a href="#">About</a></li>
                  <li><a href="#">Privacy Policy</a></li>
                  <li><a href="#">Proparties</a></li>
                  <li><a href="#">Licenses</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-8">
            <div class="single-footer-caption mb-50">
              <div class="footer-tittle">
                <h4>Location</h4>
                <div class="footer-pera">
                  <p class="info1">Subscribe now to get daily updates</p>
                </div>
              </div>
              <!-- Form -->
              <div class="footer-form">
                <div id="mc_embed_signup">
                  <form target="_blank"
                        action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                        method="get" class="subscribe_form relative mail_part" novalidate="true">
                    <input type="email" name="EMAIL" id="newsletter-form-email"
                           placeholder=" Email Address " class="placeholder hide-on-focus"
                           onfocus="this.placeholder = ''"
                           onblur="this.placeholder = 'Your email address'">
                    <div class="form-icon">
                      <button type="submit" name="submit" id="newsletter-submit"
                              class="email_icon newsletter-submit button-contactForm">Send</button>
                    </div>
                    <div class="mt-10 info"></div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="row d-flex justify-content-between align-items-center">
          <div class="col-xl-9 col-lg-8">
            <div class="footer-copy-right">
              <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> All rights reserved |
                This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a
                        href="https://colorlib.com" target="_blank">Colorlib</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              </p>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4">
            <!-- Footer Social -->
            <div class="footer-social f-right">
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="https://www.facebook.com/sai4ull"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fas fa-globe"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer End-->
</footer>
<!-- Scroll Up -->
<div id="back-top">
  <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>

<!-- JS here -->

<script src="./assets/js/vendor/modernizr-3.5.0.min.js"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="./assets/js/vendor/jquery-1.12.4.min.js"></script>
<script src="./assets/js/popper.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>
<!-- Jquery Mobile Menu -->
<script src="./assets/js/jquery.slicknav.min.js"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="./assets/js/owl.carousel.min.js"></script>
<script src="./assets/js/slick.min.js"></script>
<!-- One Page, Animated-HeadLin -->
<script src="./assets/js/wow.min.js"></script>
<script src="./assets/js/animated.headline.js"></script>
<script src="./assets/js/jquery.magnific-popup.js"></script>

<!-- Date Picker -->
<script src="./assets/js/gijgo.min.js"></script>
<!-- Nice-select, sticky -->
<script src="./assets/js/jquery.nice-select.min.js"></script>
<script src="./assets/js/jquery.sticky.js"></script>

<!-- counter , waypoint,Hover Direction -->
<script src="./assets/js/jquery.counterup.min.js"></script>
<script src="./assets/js/waypoints.min.js"></script>
<script src="./assets/js/jquery.countdown.min.js"></script>
<script src="./assets/js/hover-direction-snake.min.js"></script>

<!-- contact js -->
<script src="./assets/js/contact.js"></script>
<script src="./assets/js/jquery.form.js"></script>
<script src="./assets/js/jquery.validate.min.js"></script>
<script src="./assets/js/mail-script.js"></script>
<script src="./assets/js/jquery.ajaxchimp.min.js"></script>

<!-- Jquery Plugins, main Jquery -->
<script src="./assets/js/plugins.js"></script>
<script src="./assets/js/main.js"></script>

</body>

</html>