<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" class="no-js" lang="zxx">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title> Barber HTML-5 Template </title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="manifest" href="site.webmanifest">
  <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">

  <!-- CSS here -->
  <th:block th:replace="layout/css" />
</head>
<body>
<!-- ? Preloader Start -->

  <th:block th:replace="layout/navbar-portfolio" />
  <!-- Header End -->

<main>
  <div class="slider-area2">
    <div class="slider-height2 d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="hero-cap hero-cap2 pt-70 text-center">
              <h2>Stylists</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Hero End -->
  <!--? Services Area Start -->
  <section class="service-area section-padding30">
    <div class="container">
      <!-- Section Tittle -->
      <div class="row d-flex justify-content-center">
        <div class="col-xl-7 col-lg-8 col-md-11 col-sm-11">
          <div class="section-tittle text-center mb-90">
            <span>sự hài lòng của bạn</span>
            <h2>là niềm hạnh phúc của chúng tôi</h2>
          </div>
        </div>
      </div>
      <!-- Section caption -->
      <div class="row" >
        <div class="col-xl-4 col-lg-4 col-md-6" th:each="stylist:${stylists}">
          <div class="services-caption text-center mb-30">
            <div class="service-icon">
              <img th:src="${stylist.images[0]}" style="height: 200px; width: 200px; border-radius: 100%">
            </div>
            <div class="service-cap">
              <h4 th:text="${stylist.name}" style="font-size: large; margin-top: 10px"> </h4>
              <button class="btn btn-danger" style="border-radius: 50px; margin-top: 30px; padding: 20px 30px"><a href="/booking">Book</a></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<footer>
  <!--? Footer Start-->
  <th:block th:replace="layout/footer" />
  <!-- Footer End-->
</footer>
<!-- Scroll Up -->
<div id="back-top" >
  <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>

<!-- JS here -->

<th:block th:replace="layout/js" />

</body>
</html>